

/* general rules*/
html {
   font-size: 1rem;
}
h1 {
  font-size: 1.2rem;
}
h2 {
  font-size: 1.1rem;
}
a:hover{
  text-decoration: none !important;
}
@media (min-width: 350px) {
  html {
    font-size: .8rem !important;
  }
  h1 {
      font-size: 1.2rem !important;
  }
  h2 {
      font-size: 1rem ;
  }
}
@media (min-width: 768px) {
  html {
    font-size: 1rem !important;
  }
  h1 {
      font-size: 1.3rem !important;
  }
  h2 {
      font-size: 1.2rem !important;
  }
}
@media (min-width: 991px) {
    html {
    font-size: 1rem !important;
  }
  h1 {
      font-size: 1.6rem !important;
  }
  h2 {
      font-size: 1.3rem !important;
  }
}
@media (min-width: 1200px) {
  html {
    font-size: 1rem !important;
  }
  h1 {
      font-size: 2.1rem !important;
  }
  h2 {
      font-size: 1.5rem !important;
  }
}
body{
  display: block;
  margin: 0;
font-family: 'Assistant', sans-serif;

}
h2{
font-family: 'Montserrat', sans-serif;
}
// navbar starts here
.navbar{
  height: 8%;
  padding: 0;

  font-weight: bold;
  margin: 0 !important;
  background-color: transparent;
  color: transparent;
  transition: 0.5s background-color ease;

}
.navbar-fff{
    background-color: white;
    z-index: 1000;
    box-shadow: 0 0 15px rgba(0,0,0,0.2);
    color: #323330;

}
.tabs-underlined {

  display: flex;
  align-items: center;
}
.tabs-underlined .tab-underlined {
   color: transparent ;
  padding: 8px ;
  // margin: 8px 16px;
  opacity: .9;
  cursor: pointer;
  text-decoration: none;
  // border-bottom: 4px solid transparent;
}
 .tab-underlined-color {
   color: #323330 !important;
   text-shadow: 1px 1px 3px rgba(180, 180 ,180,0.5);
}
.list{
  position: relative;
  bottom: -8px ;

}
.listA{
  left: -60px;

}
// banner starts here
.banner {
  height: 100vh;
  background-size: cover;
  background-position: center;
  padding: 150px 0;
}
#typed{
  height: 70px;
}
.banner h1 {
  margin: 0;
  color: white;
  text-shadow: 1px 1px 3px rgba(0,0,0,0.2);
  font-size: 32px;
  font-weight: bold;
}

.banner p {
  font-size: 20px;
  color: white;
  opacity: .7;
  text-shadow: 1px 1px 3px rgba(0,0,0,0.2);
}
// main content starts here
.main-div{
flex-wrap: wrap-reverse !important;

margin: 60px auto 0 !important;
}
.main-left{
display: flex;
height: 100vh;
padding: 5%;
margin: 0 auto !important;
}
.main-right{
    display: flex;
    height: fit-content;
    align-self: center;
    padding: 5%;
    margin: 0 auto 10px !important;
    -webkit-box-shadow: 0 0 15px rgba(0, 0, 0, 0.2);
    box-shadow: 0 0 15px rgba(0, 0, 0, 0.2);
    border-radius: 4px;
}
.left-main-card{
  /*height: 60%;*/
  align-self: center;
}
/*card*/
.card-product {
      // width: 80%;

  overflow: hidden;
  height: 220px;
  background: white;

  display: flex;
  align-items: center;
}

.card-product img {
  height: 100%;
  width: 160px !important;
  object-fit: cover;
}

.card-product h2 {
  font-size: 16px;
  font-weight: bold;
  margin: 0;
  color:#4c5053;
  text-shadow: 1px 1px 3px rgba(0,0,0,0.2);
}

.card-product p {
  font-size: 12px;
  line-height: 1.4;
  opacity: .7;
  margin-bottom: 0;
  margin-top: 8px;
  color:#4c5053;
}

.card-product .card-product-infos {
  padding: 16px;
}
/*card end*/
.text-title{
position: absolute;
z-index: 110;
justify-content: space-evenly;
display: flex;
right: -16px;
top: -40px;
color: #4c5053;
font-family: 'Montserrat', sans-serif;
}
.text-box{
  margin: 0 auto;
  height: 530px;
  z-index: 100;
  border-radius: 5px;
  box-shadow: 0 0 15px rgba(0,0,0,0.2);
  align-self: center;
  background-color: #fff;
  padding: 0;
  overflow: scroll;
  scroll-behavior: smooth;
}

.text-title-left{
 /* text-shadow: 1px 1px 3px rgba(0,0,0,0.2);*/
  font-weight: 600;
    position: relative;
    left: -40px;
}
.text-title-right{
      position: relative;
    right: -10px;
      color: #fff;
    text-shadow: 1px 1px 3px rgba(0,0,0,0.2);
    font-weight: 600;
}
.yellow-right{
 background-color: #F0DB4F;
height: 200px;
position: absolute !important;
    top: -58px;
right: -20px;
}
.yellow-left{
      background-color: #F0DB4F;
    height: 120px;
    position: absolute !important;
  bottom: -60px;
    left: -6px;
}
.text-box-header{
  display: flex;
  text-align: center;
  box-shadow: 0px 15px 10px -15px rgba(0,0,0,0.2);
  height: 80px;
  border-radius: 5px 5px 0 0;
      position: sticky;
    top: 0;
    z-index: 100;
    background: #fff;

}
.text-box-header h2{
  margin: auto;
  font-weight: 600 !important;
  opacity: .8;
}
.text-box-body{
  margin: 0 auto !important;
  padding-top: 20px;
box-sizing: content-box;
justify-content: space-between;
align-items: baseline;
}
.icon-box{
box-sizing: content-box;
   margin: 0 auto !important;
  height: 100px;
  padding: 10px;
  width: 25%;
}
.icon-body{
  justify-content: space-between;
}
.icon{
  text-align: center;
    font-size: 3rem;


}
.icon-name{
  text-align: center;
box-sizing: content-box;
margin-top: 8px;
opacity: .7;
}
.text-box-body p{
  color: #2d2d2d;
  text-decoration: none;
  opacity: .7;
box-sizing: content-box;
font-weight: 100;
text-shadow: 1px 1px 3px rgba(180, 180 ,180,0.5);
}
.text-box-body a{
  color: #2d2d2d;
  text-decoration: none;
  opacity: 1;
box-sizing: content-box;
    text-decoration: none !important;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;

}
.myBtn{
      min-width: fit-content;
      height: min-content;
    text-align: center;
    align-self: center;
        margin: 15px auto -15px;
}
.myBtn2{
      min-width: fit-content;
      height: auto;
    text-align: center;
    align-self: center;
        margin: 15px auto -20px;
}
#mycard{
  margin: 0 auto 10px;
}
.main-links {
  display: flex;
  margin: 30px auto -10px;
  align-items: flex-end;
  justify-content: space-evenly;

}
.main-links a {
  color: black;
  opacity: 0.15;
  text-decoration: none;
  font-size: 24px;
  padding: 0px 10px;
}
.main-links a {
  color: black;
  opacity: 0.15;
  text-decoration: none;
  font-size: 34px;
  padding: 0px 10px;
}
.main-links a:hover {
  opacity: 1;
  color: #f0da50;
}
.footer {
  background: #F4F4F4;
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 100px;
  padding: 0px 50px;
  color: rgba(0,0,0,0.3);
     /* z-index: 100;*/
   /* margin-top: 100px;*/
  position: relative;
}
.footer-links {
  display: flex;
  align-items: center;
  justify-content: space-evenly;
}
.footer-links a {
  color: black;
  opacity: 0.15;
  text-decoration: none;
  font-size: 24px;
  padding: 0px 10px;
}
.footer-links a:hover {
  opacity: 1;
  color: #f0da50;
}
.footer .fa-heart {
  color: #D23333;
}

/* Bob */
@-webkit-keyframes hvr-bob {
  0% {
    -webkit-transform: translateY(-8px);
    transform: translateY(-8px);
  }
  50% {
    -webkit-transform: translateY(-4px);
    transform: translateY(-4px);
  }
  100% {
    -webkit-transform: translateY(-8px);
    transform: translateY(-8px);
  }
}
@keyframes hvr-bob {
  0% {
    -webkit-transform: translateY(-8px);
    transform: translateY(-8px);
  }
  50% {
    -webkit-transform: translateY(-4px);
    transform: translateY(-4px);
  }
  100% {
    -webkit-transform: translateY(-8px);
    transform: translateY(-8px);
  }
}
@-webkit-keyframes hvr-bob-float {
  100% {
    -webkit-transform: translateY(-8px);
    transform: translateY(-8px);
  }
}
@keyframes hvr-bob-float {
  100% {
    -webkit-transform: translateY(-8px);
    transform: translateY(-8px);
  }
}
.hvr-bob {
  display: inline-block;
  vertical-align: middle;
  -webkit-transform: perspective(1px) translateZ(0);
  transform: perspective(1px) translateZ(0);
  box-shadow: 0 0 1px rgba(0, 0, 0, 0);
}
.hvr-bob:hover, .hvr-bob:focus, .hvr-bob:active {
  text-shadow: 1px 1px 3px rgba(180, 180 ,180,0.5);
  -webkit-animation-name: hvr-bob-float, hvr-bob;
  animation-name: hvr-bob-float, hvr-bob;
  -webkit-animation-duration: .3s, 1.5s;
  animation-duration: .3s, 1.5s;
  -webkit-animation-delay: 0s, .3s;
  animation-delay: 0s, .3s;
  -webkit-animation-timing-function: ease-out, ease-in-out;
  animation-timing-function: ease-out, ease-in-out;
  -webkit-animation-iteration-count: 1, infinite;
  animation-iteration-count: 1, infinite;
  -webkit-animation-fill-mode: forwards;
  animation-fill-mode: forwards;
  -webkit-animation-direction: normal, alternate;
  animation-direction: normal, alternate;
}
.hvr-shadow {
  // display: inline-block;
  vertical-align: middle;
  -webkit-transform: perspective(1px) translateZ(0);
  transform: perspective(1px) translateZ(0);
  box-shadow: 0 0 1px rgba(0, 0, 0, 0);
  -webkit-transition-duration: 0.3s;
  transition-duration: 0.3s;
  -webkit-transition-property: box-shadow;
  transition-property: box-shadow;
}
.hvr-shadow:hover, .hvr-shadow:focus, .hvr-shadow:active {
  box-shadow: 0 10px 10px -10px rgba(0, 0, 0, 0.5);
}
// ABOUT PAGE STARTS HERE >>>

.about-div{
     overflow-y: -webkit-paged-x;
    margin: 70px 0 0 10px;
    padding-bottom: 50px;
  }

.about-text{
  overflow: scroll;
}
.about-text h1 {
  margin: 0;
  color: #4c5053;
  text-shadow: 1px 1px 3px rgba(0,0,0,0.2);
  font-size: 32px;
  font-weight: bold;
  margin-bottom: 40px;
}

.about-text p {
  font-size: 20px;
  color: #4c5053;
  opacity: .7;

}
.works-container{
  height: 100vh;

  margin: 0 auto;
}
.works-box{
  padding: 50px 10px;
}
.works-banner {
  height: 30vh;
  background-size: cover;
  background-position: center;
  padding: 150px 0;
}

.works-banner h1 {
  margin: 0;
  color: white;
  text-shadow: 1px 1px 3px rgba(0,0,0,0.2);
  font-size: 32px;
  font-weight: bold;
}

.works-banner p {
  font-size: 20px;
  color: white;
  opacity: .7;
  text-shadow: 1px 1px 3px rgba(0,0,0,0.2);
}
.butt a{
      left: 41.5%;
    top: -50px;

}
// PAGE 404 CSS STARTS HERE
@keyframes move_wave {
    0% {
        transform: translateX(0) translateZ(0) scaleY(1)
    }
    50% {
        transform: translateX(-25%) translateZ(0) scaleY(0.55)
    }
    100% {
        transform: translateX(-50%) translateZ(0) scaleY(1)
    }
}
.waveWrapper {
    overflow: hidden;
    position: absolute;
    left: 0;
    right: 0;
    bottom: 0;
    top: 0;
    margin: auto;
}
.waveWrapperInner {
    position: absolute;
    width: 100%;
    overflow: hidden;
    height: 100%;
    bottom: -1px;
    background-image: linear-gradient( 179.6deg,  rgba(0,19,26,1) -4.9%, rgba(0,77,105,1) 108.4% );
}
.bgTop {
    z-index: 15;
    opacity: 0.5;
}
.bgMiddle {
    z-index: 10;
    opacity: 0.75;
}
.bgBottom {
    z-index: 5;
}
.wave {
    position: absolute;
    left: 0;
    width: 200%;
    height: 100%;
    background-repeat: repeat no-repeat;
    background-position: 0 bottom;
    transform-origin: center bottom;
}
.waveTop {
    background-size: 50% 100px;
}
.waveAnimation .waveTop {
  animation: move-wave 3s;
   -webkit-animation: move-wave 3s;
   -webkit-animation-delay: 1s;
   animation-delay: 1s;
}
.waveMiddle {
    background-size: 50% 120px;
}
.waveAnimation .waveMiddle {
    animation: move_wave 10s linear infinite;
}
.waveBottom {
    background-size: 50% 100px;
}
.waveAnimation .waveBottom {
    animation: move_wave 15s linear infinite;
}
.main-404{
  height: 100vh;
      top: -2px;
    position: relative;
}
.content-404{
font-family: 'Assistant', sans-serif;


      display: flex;
    flex: 1;
    margin: 0 auto;
    justify-content: space-evenly;
    align-items: center;
    flex-direction: column;

}
#h1-404{
 text-align: center;
    position: relative;
    z-index: 100;
    top: 200px;
    color: #fff;
  //
}
.footer-404{
  margin: 0;
  background-color: #fff;
}
.found{
  opacity: .6;
}
.num{
  font-size:12rem;
  opacity: .6;
  text-shadow: 1px 1px 3px rgba(0,0,0,0.2);
  transition:1.2s;
}
.num:hover{
  text-shadow: 1px 1px 10px rgba(250, 250 ,250,0.9);
}
.ops{
  font-size: 6rem;
  text-shadow: 1px 1px 3px rgba(0,0,0,0.2);
}
.mybtn3{
  z-index:100;
  font-weight: 700;
  position: relative;
  top: 220px;
      background-color: transparent !important;
    border: 2px solid #F0DB4F !important;
    transition:.6s;
}
.mybtn3:hover{
  background-color: #F0DB4F !important;
}
