<!doctype html>
<html>
  <head>
    <meta charset="utf-8">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="title" content="Regi Voda - Full-stack Web Developer">
    <meta name="description" content="Full stack Web Developer">

    <!-- Open Graph / Facebook -->
    <meta property="og:type" content="website">
    <meta property="og:url" content="https://www.regivoda.dev/">
    <meta property="og:title" content="Regi Voda - Full-stack Web Developer">
    <meta property="og:description" content="Full stack Web Developer">
    <meta property="og:image" content="">

    <!-- Twitter -->
    <meta property="twitter:card" content="summary_large_image">
    <meta property="twitter:url" content="https://www.regivoda.dev/">
    <meta property="twitter:title" content="Regi Voda - Full-stack Web Developer">
    <meta property="twitter:description" content="Full stack Web Developer">
    <meta property="twitter:image" content="">
    <!-- <meta name="description" content="Full stack Web Developer">
    <meta name="keywords" content="HTML,CSS,XML,JavaScript,Developer,Web,Fullstack,Full stack,Full-stack, full stack developer, web developer,Ruby,RoR,Ruby on Rails Developer,sviluppatore Web,front-end developer,Freelance Developer"> -->
   <!--  <meta name="author" content="Regi Voda"> -->

    <!-- Use the title from a page's frontmatter if it has one -->
    <title><%= current_page.data.title || "Middleman" %></title>
    <%= stylesheet_link_tag "site" %>

    <link href="https://fonts.googleapis.com/css?family=Montserrat:300,600,800i" rel="stylesheet">
<link href="https://fonts.googleapis.com/css?family=Assistant:400,600,700,800" rel="stylesheet">

      <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.8.1/css/all.css" integrity="sha384-50oBUHEmvpQ+1lW4y57PTFmhCaXp0ML5d60M1M7uH2+nqUivzIebhndOJK28anvf" crossorigin="anonymous">
      <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">

<link rel="stylesheet" href="https://cdn.rawgit.com/konpa/devicon/df6431e323547add1b4cf45992913f15286456d3/devicon.min.css">
<link href="https://unpkg.com/aos@2.3.1/dist/aos.css" rel="stylesheet">
    <script src="https://cdn.jsdelivr.net/npm/typed.js@2.0.9"></script>
    <script src="//code.jquery.com/jquery-1.12.4.js"></script>
    <script src="//code.jquery.com/ui/1.12.1/jquery-ui.js"></script>
  </head>
  <body>

    <%= yield %>

<%= javascript_include_tag "site" %>


  </body>
  <script src="https://unpkg.com/aos@2.3.1/dist/aos.js"></script>
  <script>
  AOS.init();
</script>
<script>
  var typed = new Typed('#typed', {
    strings: ["I changed my life, I learnt how to code. So YES I'm a coder now."],
    loop: true,
    typeSpeed: 50,
    smartBackspace: true,
    cursorChar: '',
  });
</script>

</html>
