/* general rules*/
html {
  font-size: 1rem; }

h1 {
  font-size: 1.2rem; }

h2 {
  font-size: 1.1rem; }

a:hover {
  text-decoration: none !important; }

@media (min-width: 350px) {
  html {
    font-size: .8rem !important; }
  h1 {
    font-size: 2.8rem !important; }
  h2 {
    font-size: 2.5rem; }
  .footer {
    bottom: -325px; } }

@media (min-width: 768px) {
  html {
    font-size: 1rem !important; }
  h1 {
    font-size: 2.3rem !important; }
  h2 {
    font-size: 1.2rem !important; } }

@media (min-width: 991px) {
  html {
    font-size: 1rem !important; }
  h1 {
    font-size: 2.2rem !important; }
  h2 {
    font-size: 1.3rem !important; } }

@media (min-width: 1200px) {
  html {
    font-size: 1rem !important; }
  h1 {
    font-size: 2.1rem !important; }
  h2 {
    font-size: 1.5rem !important; } }

body {
  display: block;
  margin: 0; }

h2 {
  font-family: 'Montserrat', sans-serif; }

  .navbar {
    font-weight: bold !important;
    background: linear-gradient(270deg, #030e46, #14094ee5);
    background-size: 400% 400%;

    -webkit-animation: nav-animated-background 14s ease infinite;
    -moz-animation: nav-animated-background 14s ease infinite;
    animation: nav-animated-background 14s ease infinite;
}

@-webkit-keyframes nav-animated-background {
    0%{background-position:0% 50%}
    50%{background-position:100% 50%}
    100%{background-position:0% 50%}
}
@-moz-keyframes nav-animated-background {
    0%{background-position:0% 50%}
    50%{background-position:100% 50%}
    100%{background-position:0% 50%}
}
@keyframes nav-animated-background {
    0%{background-position:0% 50%}
    50%{background-position:100% 50%}
    100%{background-position:0% 50%}
}

.navbar{
  position: sticky !important;
  z-index: 100; 
  top: 0;
  justify-content: flex-start !important;
  color: #F4F4F4 !important;
  -webkit-box-shadow: 0 0 15px rgba(0, 0, 0, 0.2);
          box-shadow: 0 0 15px rgba(0, 0, 0, 0.2);
}


.banner {
  height: 105vh;
  top: -80px;
  padding: 285px 0; }

.banner h1 {
  margin: 0;
  color: white;
  text-shadow: 1px 1px 3px rgba(0, 0, 0, 0.2);
  font-size: 32px;
  font-weight: bold; }

.banner p {
  font-size: 20px;
  color: white;
  opacity: .7;
  text-shadow: 1px 1px 3px rgba(0, 0, 0, 0.2); }

.main-div {}

.main-left {
  display: flex;
  height: inherit;
  margin: 80px auto !important; 
}

.main-right {
 padding: 0 !important;
}

.quotes-div{
  width: 60%;  
  padding: 80px 0px 80px 80px ;
  margin: 0 auto !important; 
}

.left-main-card {
  /*height: 60%;*/
  -ms-grid-row-align: center;
      align-self: center; }


/*card end*/
.text-title {
  position: absolute;
  z-index: 110;
  justify-content: space-evenly;
  display: flex;
  right: -16px;
  top: -40px;
  color: #4c5053;
  font-family: 'Montserrat', sans-serif; }

.text-box {
  margin: 0 auto;
  height: 500px;
  z-index: 100;
  border-radius: 5px;
  -webkit-box-shadow: 0 0 15px rgba(0, 0, 0, 0.2);
          box-shadow: 0 0 15px rgba(0, 0, 0, 0.2);
  -ms-grid-row-align: center;
      align-self: center;
  background-color: #fff;
  padding: 0;
  overflow: scroll;
  scroll-behavior: smooth; }

.text-title-left {
  /* text-shadow: 1px 1px 3px rgba(0,0,0,0.2);*/
  color: #030e46;
  font-weight: 600;
  position: relative;
  left: -40px; }

.text-title-right {
  position: relative;
  right: -10px;
  color: #ff4080;
  text-shadow: 1px 1px 3px rgba(0, 0, 0, 0.2);
  font-weight: 600; }

.yellow-right {
  background-color: #030E46;
  height: 200px;
  position: absolute !important;
  top: -58px;
  right: -20px; }

.yellow-left {
  background: linear-gradient(45deg, #ff003c, #c648c8);
  height: 120px;
  position: absolute !important;
  bottom: -60px;
  left: -6px; }

.text-box-header {
  display: flex;
  text-align: center;
  -webkit-box-shadow: 0px 15px 10px -15px rgba(0, 0, 0, 0.2);
          box-shadow: 0px 15px 10px -15px rgba(0, 0, 0, 0.2);
  height: 80px;
  border-radius: 5px 5px 0 0;
  position: -webkit-sticky;
  position: sticky;
  top: 0;
  z-index: 100;
  background: #fff; }

.text-box-header h2 {
  margin: auto;
  font-weight: 600 !important;
  opacity: .8; }

.text-box-body {
  margin: 0 auto !important;
  padding-top: 20px;
  -webkit-box-sizing: content-box;
          box-sizing: content-box;
  justify-content: space-between;
  align-items: baseline; }

.icon-box {
  -webkit-box-sizing: content-box;
          box-sizing: content-box;
  margin: 0 auto !important;
  height: 100px;
  padding: 10px;
  width: 25%; }

.icon-body {
  justify-content: space-between; }

.icon {
  text-align: center;
  font-size: 3rem; }

.icon-name {
  text-align: center;
  -webkit-box-sizing: content-box;
          box-sizing: content-box;
  margin-top: 8px;
  opacity: .7; }

.text-box-body p {
  color: #2d2d2d;
  text-decoration: none;
  opacity: .7;
  -webkit-box-sizing: content-box;
          box-sizing: content-box;
  font-weight: 600;
  text-shadow: 1px 1px 3px rgba(180, 180, 180, 0.5); }

.text-box-body a {
  color: #2d2d2d;
  text-decoration: none;
  opacity: 1;
  -webkit-box-sizing: content-box;
          box-sizing: content-box;
  text-decoration: none !important;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis; }

  
.btn-outline-secondary:hover{
  background-color: transparent !important;
}
.find-out{
  font-weight: bold;
}

.main-links {
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  margin: 30px auto 0; }

.main-links a {
  color: black;
  opacity: 0.15;
  text-decoration: none;
  font-size: 24px;
  padding: 0px 10px; }

.main-links a {
  color: #030E46;
  opacity: 0.15;
  text-decoration: none;
  font-size: 34px;
  padding: 0px 10px; }

.main-links a:hover {
  opacity: 1;
  color: #ff4080; }

.footer {
  background: #F4F4F4;
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 100px;
  padding: 0px 50px;
  color: rgba(0, 0, 0, 0.3);
  /* z-index: 100;*/
  /* margin-top: 100px;*/
  position: relative;
  bottom: 0;
  margin-top: 220px; }

.footer-links {
  display: flex;
  align-items: center;
  justify-content: space-evenly; }

.footer-links a {
  color: black;
  opacity: 0.15;
  text-decoration: none;
  font-size: 24px;
  padding: 0px 10px; }

.footer-links a:hover {
  opacity: 1;
  color: #ff4080; }

.footer .fa-heart {
  color: #D23333; }

/* Bob */
@-webkit-keyframes hvr-bob {
  0% {
    -webkit-transform: translateY(-8px);
    transform: translateY(-8px); }
  50% {
    -webkit-transform: translateY(-4px);
    transform: translateY(-4px); }
  100% {
    -webkit-transform: translateY(-8px);
    transform: translateY(-8px); } }

@keyframes hvr-bob {
  0% {
    -webkit-transform: translateY(-8px);
    transform: translateY(-8px); }
  50% {
    -webkit-transform: translateY(-4px);
    transform: translateY(-4px); }
  100% {
    -webkit-transform: translateY(-8px);
    transform: translateY(-8px); } }

@-webkit-keyframes hvr-bob-float {
  100% {
    -webkit-transform: translateY(-8px);
    transform: translateY(-8px); } }

@keyframes hvr-bob-float {
  100% {
    -webkit-transform: translateY(-8px);
    transform: translateY(-8px); } }

.hvr-bob {
  display: inline-block;
  vertical-align: middle;
  -webkit-transform: perspective(1px) translateZ(0);
  transform: perspective(1px) translateZ(0);
  -webkit-box-shadow: 0 0 1px transparent;
          box-shadow: 0 0 1px transparent; }

.hvr-bob:hover, .hvr-bob:focus, .hvr-bob:active {

  -webkit-animation-name: hvr-bob-float, hvr-bob;
  animation-name: hvr-bob-float, hvr-bob;
  -webkit-animation-duration: .3s, 1.5s;
  animation-duration: .3s, 1.5s;
  -webkit-animation-delay: 0s, .3s;
  animation-delay: 0s, .3s;
  -webkit-animation-timing-function: ease-out, ease-in-out;
  animation-timing-function: ease-out, ease-in-out;
  -webkit-animation-iteration-count: 1, infinite;
  animation-iteration-count: 1, infinite;
  -webkit-animation-fill-mode: forwards;
  animation-fill-mode: forwards;
  -webkit-animation-direction: normal, alternate;
  animation-direction: normal, alternate; }

.hvr-shadow {
  vertical-align: middle;
  -webkit-transform: perspective(1px) translateZ(0);
  transform: perspective(1px) translateZ(0);
  -webkit-box-shadow: 0 0 1px transparent;
          box-shadow: 0 0 1px transparent;
  -webkit-transition-duration: 0.3s;
  transition-duration: 0.3s;
  -webkit-transition-property: box-shadow;
  -webkit-transition-property: -webkit-box-shadow;
  transition-property: -webkit-box-shadow;
  transition-property: box-shadow;
  transition-property: box-shadow, -webkit-box-shadow; }

.hvr-shadow:hover, .hvr-shadow:focus, .hvr-shadow:active {
  -webkit-box-shadow: 0 10px 10px -10px rgba(0, 0, 0, 0.5);
          box-shadow: 0 10px 10px -10px rgba(0, 0, 0, 0.5); }

.about-div {
  height: 100vh;
  margin: 70px 0 0 0; }

.about-text {
  overflow: scroll; }

.about-text h1 {
  margin: 0;
  color: #4c5053;
  text-shadow: 1px 1px 3px rgba(0, 0, 0, 0.2);
  font-size: 32px;
  font-weight: bold;
  margin-bottom: 40px; }

.about-text p {
  font-size: 20px;
  color: #4c5053;
  opacity: .7;
  text-shadow: 1px 1px 3px rgba(0, 0, 0, 0.2); }

.works-container {
  height: 65vh;
  margin: 0 auto; }

.works-box {
  padding: 50px 10px; }

.works-banner {
  height: 30vh;
  background-size: cover;
  background-position: center;
  padding: 150px 0; }

.works-banner h1 {
  margin: 0;
  color: white;
  text-shadow: 1px 1px 3px rgba(0, 0, 0, 0.2);
  font-size: 32px;
  font-weight: bold; }

.works-banner p {
  font-size: 20px;
  color: white;
  opacity: .7;
  text-shadow: 1px 1px 3px rgba(0, 0, 0, 0.2); }
/* CARD */


.card_left {
  margin: 0 auto;
  color: #fff;
  background-color: #030E46;
  width: 70%;
  height: 27rem;
  border-radius: 5px;
  display: flex;
  flex-direction: column;
  align-items: center;
  box-shadow: 0px 15px 10px -15px rgba(0, 0, 0, 0.2);
  -webkit-box-shadow: 0px 15px 10px -15px rgba(0, 0, 0, 0.2);
}

.card__name {
  font-weight: bold;
  margin-top: 15px;
  font-size: 1.5em;
}

.card__image {
    background-image: url(/images/insta.jpg) ;
    height: 150px; 
    width: 150px;
    border-radius: 50%;
    background-size: cover; /* for IE9+, Safari 4.1+, Chrome 3.0+, Firefox 3.6+ */
        -webkit-background-size: cover; /* for Safari 3.0 - 4.0 , Chrome 1.0 - 3.0 */
        -moz-background-size: cover; /* optional for Firefox 3.6 */ 
        -o-background-size: cover; /* for Opera 9.5 */
        margin: 0; /* to remove the default white margin of body */
        padding: 0; /* to remove the default white margin of body */
        overflow: hidden;
    /* transform: scale(0.9); */
    margin-top: 50px;
    /* box-shadow: 0 10px 50px rgba(235, 25, 110, 1); */
    filter: hue-rotate(150deg);

}

.social-icons {
  padding: 0;
  list-style: none;
  margin: 1em;
}

.social-icons li {
  display: inline-block;

  margin: 0.15em;
  position: relative;
  font-size: 1em;
}

.social-icons i {
  color: #fff;
  position: absolute;
  top: 0.95em;
  left: 0.96em;
  font-size: initial;
  transform: scale(1.5);
  transition: all 265ms ease-out;
}

.social-icons a {
  display: inline-block;
}

.social-icons a:before {
  transform: scale(1);
  -ms-transform: scale(1);
  -webkit-transform: scale(1);
  content: " ";
  width: 45px;
  height: 45px;
  border-radius: 100%;
  display: block;
  background: linear-gradient(45deg, #ff003c, #c648c8);
  transition: all 265ms ease-out;
}

.social-icons a:hover:before {
  transform: scale(0);
  transition: all 265ms ease-in;
}

.social-icons a:hover i {
  transform: scale(2.2);
  -ms-transform: scale(2.2);
  -webkit-transform: scale(2.2);
  color: #ff003c;
  background: -webkit-linear-gradient(45deg, #ff003c, #c648c8);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  transition: all 265ms ease-in;
}

.grid-container {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-gap: 20px;
  font-size: 1.2em;
}
.circles{
  overflow-x: hidden;
  overflow-y: visible;
  height: 350px;
  width: 100%;
  padding: 10px;
  margin: 50px auto;
}
.circle1 {
  display: block;
  width: 60px;
  height: 60px;
  background: pink;
  border-radius: 50%;
  background: radial-gradient(circle at 100px 100px,  #ff003c, #c648c8);
  animation-name: roll;
  animation-duration: 5s;
  animation-timing-function: ease-in-out;
  animation-iteration-count: infinite;
  animation-direction: alternate;
  animation-delay: 2s;
}

.circle2 {
  display: block;
  height: 60px;
  width: 60px;
  background: yellow;
  border-radius: 50%;
  background: radial-gradient(circle at 100px 100px,  #030E46, rgb(43, 13, 150));
  animation-name: roll;
  animation-duration: 5s;
  animation-timing-function: ease-in-out;
  animation-iteration-count: infinite;
  animation-direction: alternate-reverse;
  transform: rotateX(45deg);
  animation-delay: 2s;
}


@keyframes roll {
/* Basic move left and right*/
  0% {transform: translateX(10px) rotate(0);}
  20% {transform: translateX(-10px) rotate(-0.5turn);}
  100% {transform: translateX(1000px) rotate(2turn);}
  0% {transform: translateY(100px) rotate(1turn);}
}
.interests_container{
  background: aliceblue;
  padding-top: 20px ;
}
.interests{
  margin:  0 auto;
  justify-content: space-evenly;
}
.liked{
  justify-content: space-around;
  margin: 0 auto;
  width: 90%;
}
.activity{
  text-align: center;
  font-family: 'Montserrat', sans-serif; 
}
.likes-div{
  text-align: center;
  padding: 40px;
}
.places{
  margin: 0 auto;
  left: 80px;
  padding: 0 !important;
  display: flex;
  height: auto;
  justify-content: flex-start;
  padding-top: 40px;
}
.card_place{
  padding: 0 !important;
  align-self: start;
  height: auto;
  margin: 25px;
  border-radius: 5px;
  -webkit-box-shadow: 0 0 15px rgba(0, 0, 0, 0.2);
  box-shadow: 0 0 15px rgba(0, 0, 0, 0.2);
}
.intro{
  padding: 20px;
}