@charset "utf-8";
	.Stiledicaratterenormale
{
	font-family : Futura;
	font-style : italic;
	font-size : 43px;
	line-height : 58px;
	letter-spacing : 3.44px;
	color : #000000;
	color : rgb(0, 0, 0);
	text-shadow : 0px 0px 2px rgba(0, 0, 0, 0.75);
}
.Stiledicaratterenormale1
{
	font-family : Futura;
	font-style : italic;
	font-size : 43px;
	line-height : 58px;
	letter-spacing : 3.44px;
	color : #000000;
	color : rgb(0, 0, 0);
	text-shadow : 0px 0px 2px rgba(0, 0, 0, 0.75);
}
.Stiledicaratterenormale2
{
	font-family : Futura;
	font-size : 22px;
	line-height : 58px;
	letter-spacing : 1.76px;
	color : #000000;
	color : rgb(0, 0, 0);
	text-shadow : 0px 0px 2px rgba(0, 0, 0, 0.75);
}
.Stiledicaratterenormale4
{
	font-family : Futura;
	font-size : 58px;
	line-height : 58px;
	letter-spacing : 4.64px;
	color : #000000;
	color : rgb(0, 0, 0);
	text-shadow : 0px 0px 2px rgba(0, 0, 0, 0.75);
}
.Stiledicaratterenormale3
{
	font-family : Futura;
	font-size : 48px;
	line-height : 58px;
	letter-spacing : 3.84px;
	color : #000000;
	color : rgb(0, 0, 0);
	text-shadow : 0px 0px 2px rgba(0, 0, 0, 0.75);
}
.navbar-underline
{
	background : #FCEE21;
	background : rgba(252, 238, 33, 1);
}
.navbar_1_
{
	background : #FFFFFF;
	background : rgba(255, 255, 255, 1);
}
.yellow-big
{

	background : #FCEE21;
	background : rgba(252, 238, 33, 1);
}
.yellow-small
{
	background : #FCEE21;
	background : rgba(252, 238, 33, 1);
}
.red-circle
{
	background : #CC3333;
	background : rgba(204, 51, 51, 1);
}
.blue-big
{
	background : #3399CC;
	background : rgba(51, 153, 204, 1);
}
footer
{
	background : #22B573;
	background : rgba(34, 181, 115, 1);
}
