---
title: Page not found
---

<div class="main-404">
<div class="waveWrapper waveAnimation">
  <div class="waveWrapperInner bgTop">
    <div class="wave waveTop" style="background-image: url('http://front-end-noobs.com/jecko/img/wave-top.png')"></div>
  </div>
  <div class="waveWrapperInner bgMiddle">
    <div class="wave waveMiddle" style="background-image: url('http://front-end-noobs.com/jecko/img/wave-mid.png')"></div>
  </div>
  <div class="waveWrapperInner bgBottom">
    <div class="wave waveBottom" style="background-image: url('http://front-end-noobs.com/jecko/img/wave-bot.png')"></div>
  </div>
</div>
<div class="content-404">
  <h1 id="h1-404">
    <span class="ops">Ops!</span><br> Page not <span class="found">found</span><br><span class="num">404</span>
  </h1>
  <%= link_to "HOME", "/index.html", :anchor => "home",  :class => "btn btn-primary  mybtn3 hvr-shadow col-lg-2 col-md-4 col-4"%>
</div>
</div>
  <!-- FOOTER start -->
    <div class="footer footer-404 col-12">
      <div class="footer-links">
        <a target="_blank" href="https://github.com/Qwertic"><i class="fab fa-github"></i></a>
        <a target="_blank" href="https://www.instagram.com/regivoda"><i class="fab fa-instagram"></i></a>

        <a target="_blank" href="#"><i class="fab fa-twitter"></i></a>
        <a target="_blank" href="https://www.linkedin.com/in/regi-voda-580a05169"><i class="fab fa-linkedin"></i></a>
      </div>
      <div class="footer-copyright">
        This page is made with <i class="fas fa-heart"></i> by Regi Voda
      </div>
    </div>
    <!-- FOOTER end -->
