---
title: Regi's Portfolio
---
<div class="works-banner" style="background-image: linear-gradient(rgba(0,0,0,0.2),rgba(0,0,0,0.2)), url(images/leone-venter-559377-unsplash.jpg);">
  <div class="container">
    <h1 class="works-header" data-aos="fade-right">Here are my works, <br> actually only one showed, <br> other stuff is found on <strong><a target="_blank" href="https://github.com/Qwertic">GitHub</a></strong> for now.</h1>

  </div>

</div>
<div class="works-container container  col-11">
  <div class="works-box row">
    <div class="card-product hvr-shadow " data-aos="fade-up">
            <img src="images/holytrip.png">
            <div class="card-product-infos col-lg-5 col-sm-12">
              <a target="_blank" href="https://holytrip.pro/"><h2 class="hvr-bob">HolyTrip.pro</h2></a>
              <p>All in one <br> Trip<strong>Task Manager</strong></p>
            </div>
          </div>
  </div>
</div>
