---
title: Regi's Portfolio
---
<div class="works-banner" style="background-image: linear-gradient(rgba(0,0,0,0.2),rgba(0,0,0,0.2)), url(https://res.cloudinary.com/dhxd71w5a/image/upload/v1555794435/leone-venter-559377-unsplash.jpg);">
  <div class="container">
    <h1 class="works-header" data-aos="fade-right">Here are my works, <br> actually only one showed, <br> other stuff is found on <strong><a target="_blank" href="https://github.com/Qwertic">GitHub</a></strong> for now.</h1>

  </div>

</div>
<div class="works-container container  col-11">
  <div class="works-box row">
    <div class="card-product hvr-shadow " data-aos="fade-up">
            <img src="https://res.cloudinary.com/dhxd71w5a/image/upload/v1555794436/holytrip.png">
            <div class="card-product-infos col-lg-5 col-sm-12">
              <a target="_blank" href="https://holytrip.pro/"><h2 class="hvr-bob">HolyTrip.pro</h2></a>
              <p>All in one <br> Trip<strong>Task Manager</strong></p>
            </div>
          </div>
  </div>
</div>
<div class="butt ">

  <%= link_to "back", "/index.html", :anchor => "home",  :class => "btn btn-primary hvr-shadow col-lg-2 col-md-2 col-4"%>
</div>
    <!-- FOOTER start -->
    <div class="footer col-12">
      <div class="footer-links">
        <a target="_blank" href="https://github.com/Qwertic"><i class="fab fa-github"></i></a>
        <a target="_blank" href="https://www.instagram.com/regivoda"><i class="fab fa-instagram"></i></a>

        <a target="_blank" href="#"><i class="fab fa-twitter"></i></a>
        <a target="_blank" href="https://www.linkedin.com/in/regi-voda-580a05169"><i class="fab fa-linkedin"></i></a>
      </div>
      <div class="footer-copyright">
        This page is made with <i class="fas fa-heart"></i> by Regi Voda
      </div>
    </div>
    <!-- FOOTER end -->
